.gridContainer {
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 800px;
    background-color: white;
    border: 1px solid grey;
}

.row {
    flex: 1;
    flex-basis: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
}

.cell {
    flex: 1;
    flex-basis: 1;
    border: 1px solid grey;
    background-color: rgba(255, 255, 255, 0);
}

.noBorder {
    border: none;
}

#gridSize {
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
}