.gridContainer {
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 800px;
    background-color: grey;
}

.row {
    flex: 1;
    flex-basis: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: greenyellow;
}

.cell {
    flex: 1;
    flex-basis: 1;
    border: 1px solid black;
    background-color: white;
}

#gridSize {
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
}