body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #4A3267;
    color: #DE638A;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

input[type='checkbox'] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    transition: scale 0.2s ease;
}

input[type='checkbox']:hover {
    scale: 1.2;
}

input[type='checkbox']:checked {
    accent-color: #4A3267;
}

input[type='color'] {
    background-color: transparent;
    width: 40px;
    height: 30px;
    border: none;
    cursor: pointer;
}

h1 {
    margin: 10px;
    font-size: 3rem;
    color: #F3D9E5;
}

button {
    font-size: 1.5rem;
    margin: 10px 0px;
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
    background-color: #DE638A;
    color: #F3D9E5;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #C25578;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 800px;
    background-color: #F3D9E5;
    margin: 10px;
    border-radius: 20px;
    font-size: 1.5rem;

}

.controlRow {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px 20px;
}

.gridContainer {
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 800px;
    background-color: white;
    border: 1px solid grey;
}

.row {
    flex: 1;
    flex-basis: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
}

.cell {
    flex: 1;
    flex-basis: 1;
    border: 1px solid grey;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.1s ease;
}

.noBorder {
    border: none;
}

#gridSize {
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
}